body{
     background-color: rgb(12, 12, 12);
     padding: 0;
     margin: 0;
     font-family:  Helvetica, Arial, sans-serif;
}

#header{
     /* background-color: rgb(120, 117, 114); */
     background-color: rgb(108, 104, 104);
     position: fixed;
     z-index: 100;
     left: 0;top: 0;
     width: 100%;
transform: background-color ease 500ms;
}
.black-bg{
     background-color: #fff;
}

.container{
     width: 100%;
     max-width: 1250px;
     margin: 0 auto;
}
::-webkit-scrollbar{
     display: none;
}
.header-cont{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.right-cont img{
     margin-right: 22px;
}
.left-cont, .right-cont{
     display: flex;
 flex-direction: row;    
 align-items: center;
}
.header-brand{
     max-width: 110px;
     background-color: rgba(255, 217, 0, 0.087);
}
.main-nav{
     list-style: none;
     display: inline-flex;
     flex-direction: row;
     /* display: none; */
}
.right-cont img{
     margin-right: 22px;
}
.nav-item{
     /* color: white; */
     margin-right: 20px;
     color: #e5e5e5;
opacity: .83;
}
.nav-item.active{
     color: white;
     opacity: 1;
     font-weight: 600;
}
.right-cont img{
     max-width: 40px;
     cursor: pointer;
}
/* ..movies section.... */
.movies-section{

}
.movies-section-heading{
font-size: 20px;
font-weight: 700;
line-height: 1.2;
color: white;
cursor: pointer;
margin-bottom: 10px;
}

.explore-nudge{
color: #54b9c5;
font-size: 13px;
display: none;
}
.movies-section-heading:hover .explore-nudge{
display: inline-block;
}
.movies-row{
     display: flex;
     flex-direction: row;
     align-items: center;
     flex-wrap: nowrap;
     overflow-x: auto;
     /* overflow-y: hidden; */
     /* justify-content: center; */
}
.movies-item{
width: 245px;
object-fit: contain;
border-radius: 4px;
margin-right: 6px;

}
.movies-item:hover{
transform: scale(1.2);
transition: transform linear 0.3s;
}

/* ...banner section... */
/* .banner-section{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 80vh;
     width: 100vh;
     padding-top: 70px;
} */
.banner-section{
     background-repeat: no-repeat;
     background-size: contain;
     width: 100%;
     min-height: 80vh;
     position: relative;
     padding-top: 80px;
}
.banner-container{
     display: flex;
     flex-direction: column;
   
     
}
.banner_title{
     color: white;
     font-style: 78px;
     line-height: 1.2;
     margin: 0;
     margin-bottom: 16px;
}
.banner_info{
margin-bottom: 14px;
font-size: 22px;
font-weight: 700;
line-height: 1.5;
color: white;

}
.banner_overview{
font-size: 16.4px;
color: white;
line-height: 1.3;
max-width: 50%;
margin-left: 0;
}
.action-button-cout{
display: flex;
flex-direction: row;
align-items: center;
}
.action-button{
background-color: #fff;
margin-right: 11px;
padding: 8px 23px;
border-radius: 4px;
flex-direction: row;
font-size: 16px;
font-weight: 700;
align-items: center;
cursor: pointer;
}
.action-button:last-child{
background-color: gray;
}

.banner_fadebottom{
     height: 120px;
     background: linear-gradient(180deg,
     transparent,
     rgba(37,37,37,.6)
     #141414
     );
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;

}
@media (max-width:767px) {

     .main-nav{
          display: none;
     }
     .banner-container{
          max-width: 100%;
          
     }
.banner_overview .banner_info{
min-width: 100%;
}
}










